<?xml version="1.0" encoding="utf-8"?>
<InstallSettings>
  <DefaultRuntimeVersion>v4.0</DefaultRuntimeVersion>
  
  <!-- Part of the hostname added after site name
       Example: .local.com for "mysitename.local.com"
       Leave blank if no suffix needs to be added
  -->
  <HostNameSuffix>.local.com</HostNameSuffix>

  <!-- Absolute path to the location where all the website are stored
       Needs to end with "\"
       example: C:\inetpub\wwwroot\
  -->
  <InetpubLocation>E:\wwwroot\test\</InetpubLocation>

  <AppPoolIdentity>NetworkService</AppPoolIdentity>

  <TempFolder>C:\temp\</TempFolder>

  <!-- URL of the storage where the distributives are stored 
       Needs to end with either "/" or "\"
       example: https://s3.amazonaws.com/downloads/Sitecore/
			or:	\\networkshare\downloads\sitecore\
  -->
  <BaseStorageUrl>C:\_SC templates\</BaseStorageUrl>

  <DatabaseNamePrefix></DatabaseNamePrefix>
  <LicenseFilePath>E:\wwwroot\license.xml</LicenseFilePath>
  <SQLServerName>.\sqlserver</SQLServerName>
  <SQLUserName>sa</SQLUserName>
  <SQLPassword>12345</SQLPassword>
  <SQLRuntimeUserName>scdev</SQLRuntimeUserName>

</InstallSettings>


